# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# Models
*.keras
*.h5
*.pb

# Dataset
dataset/

# Outputs
outputs/
logs/

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db