# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter


# IDE
.idea/
.vscode/

# Models
#*.keras
*.h5
*.pb

# Dataset
data/

# Outputs
outputs/
logs/

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db